# This file is a template of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production

DEVELOPMENT=
NGROK_AUTHTOKEN=
TOKEN=
CHAT_ID=
TELEGRAM_SECRET=
BASE_URL=
WEBHOOK_PATH=

PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=
PG_DATABASE=